.cell {
  // border: 1px gray solid;
  visibility: visible;
  height: 52px;
  width: 52px;
}

.action-cell{
  height: 52px;
  width: 52px;
}

.action-cell img{
  visibility:hidden;
}

.action-cell:hover img{
  visibility:visible;
  margin-top: -50px;

}