.GameWindow{
  position: relative;
  margin: 0 20vw;
}

.cells{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  position: absolute; 
  top: 0px; 
  left: 0px;
}

.UI{
  display: flex;
  flex-direction: column;
  height: 135px;
  width: 120px;
  justify-content: space-between;
  z-index: 12;
  position: absolute;
  top: 400px; 
  left: 15px;
  background-color: rgba(0, 0, 0, 0.671);
  color: rgb(255, 255, 255);
  padding: 8px;
}

.UI p{
  margin: 5px;
}

.background{
  position: relative;
}

