.Dashboard h2{
  margin: 5vh 0;
}

.write-up{
  margin: 0 auto 10vh auto;
  text-align: left;
  width: 80%;
  font-size: 1rem;
  line-height: 1.5rem;
}

.to-game-button{
  padding: 1rem;
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  .write-up{
    line-height: 1.7rem;
  }
}