.dialog-box-container{
  display: flex;
  flex-direction: column;
  height: 105px;
  width: 350px;
  justify-content: space-between;
  z-index: 12;
  position: absolute;
  top: 430px; 
  left: 160px;
  background-color: rgba(0, 0, 0, 0.671);
  color: rgb(255, 255, 255);
  padding: 8px;
}

.dialog-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
}

.dialog-buttons button{
  width: 80px;
}

.dialog-box-container p{
  margin: 0;
}