.dialog-box-container{
  display: flex;
  flex-direction: column;
  width: 90vw;
  z-index: 12;
  position: absolute;
  top: 64vw; 
  left: 5vw;
  border-top: rgb(196, 196, 196) solid 2px;
  border-left: rgb(196, 196, 196) solid 2px;
  border-right: rgb(114, 114, 114) solid 2px;
  border-bottom: rgb(114, 114, 114) solid 2px;
  color: white;
  background-color: #171058;
  padding: 8px;
}

.dialog-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
}

.dialog-buttons button{
  width: 80px;
  border-top: rgb(196, 196, 196) solid 2px;
  border-left: rgb(196, 196, 196) solid 2px;
  border-right: rgb(114, 114, 114) solid 2px;
  border-bottom: rgb(114, 114, 114) solid 2px;
  color: white;
  background-color: #171058;
}

.dialog-buttons button:hover{
  border-top: rgb(114, 114, 114) solid 2px;
  border-left: rgb(114, 114, 114) solid 2px;
  border-right: rgb(196, 196, 196) solid 2px;
  border-bottom: rgb(196, 196, 196) solid 2px;
  background-color: #100b3f;
}

.dialog-buttons button:active{
  color: gold;
}

.dialog-box-container p{
  margin: 5px 0;
}

@media only screen and (min-width: 520px) {
  .dialog-box-container{
    top: 430px; 
    left: 10px;
    width: 500px;
  }
}
