@import '../../styles/index.scss'; 

.Header {
  width: 100vw;
}

.nav-bar{
  display: flex;
  padding: 0;
  flex-direction: row;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  max-width: 850px;
}

.nav-bar li{
  display: flex;
  @include borders;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 0.65rem;
  padding: 5px;
  line-height: 1.1rem;
  background-color: #171058;
  flex: 1;
}

.nav-bar li:active{
  @include borders(rgb(114, 114, 114), rgb(196, 196, 196));
  background-color: #110b47;
}

.Header a{
  color: white;
  text-decoration: none;
}

.Header a:hover{
  color: gold;
  text-decoration: none;
}

.Header a:active{
  color: gold;
  text-decoration: none;
}

@media only screen and (min-width: 500px) {
  .nav-bar li{
    font-size: 1.1rem;
    padding: 10px;
    line-height: 1.4rem;
  }

  .nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
}