:root{
  --top-int: 3;
  --left-int: 0;
}

.Player{
  transition: 0.6s;
  z-index: 10;
  position: absolute;
  top: calc(52px + calc(52px * var(--top-int)));
  left: calc(40px + calc(52px * var(--left-int)));
}