:root{
  --top-int: 2;
  --left-int: 0;
}

.Player{
  transition: 0.5s;
  z-index: 10;
  position: absolute;
  top: calc(-11px + calc(52px * var(--top-int)));
  left: calc(5px + calc(52px * var(--left-int)));
}