:root{
  --top-int: 2;
  --left-int: 0;
}

.Player{
  transition: 0.8s;
  z-index: 10;
  position: absolute;
  top: calc(35px + calc(52px * var(--top-int)));
  left: calc(50px + calc(52px * var(--left-int)));
}